.contacts {
    padding: 50px 0;
    background-image: url('/img/image65.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 400px;
}

.no {
    padding: 10px 0;
    background-image: none;
    min-height: 150px;
}

.contacts__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
}

.contacts__tel-top{
    position: relative;
    /* top: 16px; */
}

.contacts__tel {
    display: flex;
}

.contacts__tel a {
    position: relative;
    top: 9px;
    color: black;
    font-size: 28px;
    position: relative;
    /* top: 36px; */
}

.contacts__tel img {
    border: 4px solid black;
    border-radius: 5px;
    /* margin: 0 25px 0 0; */
    position: relative;
    /* top: 22px; */
}

.contacts__email {
    display: flex;
}

.contacts__email a {
    position: relative;
    top: 7px;
    color: black;
    font-size: 28px;
}

.contacts__email img {
    /* margin: 0 15px 0 0; */
}

@media (max-width: 600px) {
    .contacts__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}
    .contacts__tel img {
      /* margin: 0 0 50px 0; */
}