.do-you-know {
    padding: 0 0 50px 0;
    text-align: center;
    background: rgb(144, 191, 251);
    background: radial-gradient(circle, rgba(144, 191, 251, 1) 0%, rgba(201, 221, 246, 1) 50%);
}

.do-you-know__container {}

.do-you-know__title-h2 {}

.do-you-know__text {}

.text-flex {}

.do-you-know__text-left {}

.text {}

.do-you-know__text-right {}

.do-you-know__text-bottom {}

.do-you-know__button {}